

#contactUsP, #contactUsP2, #followUsP{
    white-space: pre;
    font-family: Helvetica;
    line-height: 1.5;
    color: rgb(58, 58, 58);

}
/* #aboutUsImage{
    background-image: url(../../media/img/logo1.png);
    background-size: cover;
    width: 300px;
    height: 150px;
} */

#infoDivImg{
    background-image: url(../../media/img/logo1.png);
    background-size: cover;
    height: 40px;
    width: 100px;
    top: 0;
    position: relative;

    
}

#contactUsDiv{
    display: flex;
    flex-direction: row;
}


#big3Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bold;
}

#aboutUs {
    margin: 0 7%;
}



/* #contactHeadersDiv{
    display: flex;
    flex-direction: row;
    
} */