

#contactUsP, #contactUsP2, #followUsP{
    white-space: pre;
    font-family: Arial, Helvetica, sans-serif;

}
/* #aboutUsImage{
    background-image: url(../../media/img/logo1.png);
    background-size: cover;
    width: 300px;
    height: 150px;
} */

#infoDivImg{
    background-image: url(../../media/img/forky.png);
    background-size: cover;
    height: 120px;
    width: 100px;
    top: -65px;
  position: relative
}

#contactUsDiv{
    display: flex;
    flex-direction: row;
}


#big3Div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* #contactHeadersDiv{
    display: flex;
    flex-direction: row;
    
} */