body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* h2 font-family: bigpixelShadow; */



/*    HEADER och NAV   */
header {
    display: flex;
    flex-direction: column;
    z-index: 99;

}

header nav {
   
}

.landingpicture {
    background-image: url(./media/img/omslag1.png);

}


header img:first-of-type {
    height: 350px;
    object-fit: cover;
    
}

header div:nth-of-type(1) {
    text-align: center;
    padding: 30px;
    font-size: 20px;
}

header .img_bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

header .img_bottom img {
    height: 359px;
}





/*    MAIN    */


main {
    display: flex;
    flex-direction: column;
    
    margin: 100px 0 100px 0;   /*   MAIN HAR MARGIN   ->  vitt space  */
}

#sort {
    background-color: lightblue;
    height: 750px;
 
    display: flex;
    flex-direction: column;
}

#matched_recepies {
    background-color: lightgreen;
    height: 750px;

    display: flex;
    flex-direction: column;
    
}

#all_recepies {
    background-color: aquamarine;
    height: 750px;

    display: flex;
    flex-direction: column;
}

footer {
    height: 400px;
    background-color: lightskyblue;

    display: flex;
    flex-direction: column;
}