/* To do fixa scroll */
  
h2{
    font-family: bigpixelShadow;
}

h3 {
  font-size: 23px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 10px 0px 10px 0px;
}

#sortTitleDiv {

    margin-top: 5%;
    margin-bottom: 1%;
    font-size: 25px;

    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: center; /* Centers all children horizontally */
}

#boxesDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    margin-top: 60px;
    
}

#searchIngredientsBox, #chosenIngredientsBox{
    display: flex;
    background-color: white;

    width: 500px;
    height: 500px;
    padding: 30px 20px 20px 20px;
    border: 1px solid rgb(159, 205, 177);

/*     border-radius: 10px;
 */
    flex-direction: column;
}

#searchIngredientsBox input {
    width: 100%;
    padding: 10px;
    margin: 20px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0; 

}

/* Basstilar för knappar */
#searchIngredientsBox button, #chosenIngredientsBox button {
    width: 100%;
    padding: 10px;
    margin: 0px 0; /* Lägg till lite utrymme mellan knapparna */
    box-sizing: border-box;
    border: none;
    background-color: white; /* Ljusgrå bakgrund likt dropdown-innehåll */
    text-align: left; /* Vänsterjustera texten i knapparna */
    cursor: pointer;
    font-size: 16px;
}

#searchIngredientsBox button:hover {
    background-color: #ddd; /* Mörkare grå bakgrund för hover-effekt */
    content: "";
}

#ingredientSearchInput{
    margin-bottom: 0px;
}

#divForButtons, #divForChosenButtons{
    overflow-y: auto;
    max-height: 400px;
}
