/* To do fixa scroll */

@font-face {
  font-family: myFirstFont;
  src: url(../../fonts/big_pixel_demo.otf);
}

*{
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    font-family: myFirstFont;
}

#sortTitleDiv{
    display: flex;
    flex-direction: column; /* Changed from row to column */
    align-items: center; /* Centers all children horizontally */
}

#boxesDiv{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin-top: 100px;
    
}

#searchIngredientsBox, #chosenIngredientsBox{
    display: flex;
    background-color: white;

    width: 300px;
    height: 400px;
    padding: 0px 20px 0px 20px;
/*     border-radius: 10px;
 */
    flex-direction: column;
}

#searchIngredientsBox input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 0; 
}

/* Basstilar för knappar */
#searchIngredientsBox button, #chosenIngredientsBox button {
    width: 100%;
    padding: 10px;
    margin: 0px 0; /* Lägg till lite utrymme mellan knapparna */
    box-sizing: border-box;
    border: none;
    background-color: white; /* Ljusgrå bakgrund likt dropdown-innehåll */
    text-align: left; /* Vänsterjustera texten i knapparna */
    cursor: pointer;
}

#searchIngredientsBox button:hover {
    background-color: #ddd; /* Mörkare grå bakgrund för hover-effekt */
    content: "";
}

#ingredientSearchInput{
    margin-bottom: 0px;
}

#divForButtons, #divForChosenButtons{
    overflow-y: auto;
    max-height: 400px;
}