body {
    margin: 0;
}

/*   font face  */

@font-face {
    font-family: bigpixelShadow;
    src: url(./media/fonts/big_pixel/Big_Pixel_demo.otf);
}

@font-face {
    font-family: RubikM;
    src: url(./media/fonts/Rubik-Medium.ttf);
}
