
#wrapper{
    height: 100vh;
    width: 100vw;
    background-image: url('../../media/foodpicture.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
}

/*  KITSCH LOGGA IN KNAPP & SKAPA KONTO KNAPP */

#logRegContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 50px;
    min-height: 250px;
    height: fit-content;
    width: 250px;
    margin-left: 5%;

    align-self: center;

    display: flex;
    flex-direction: column;
}


.title_login{
    font-family: bigpixelShadow;
    font-size: 50px;
    margin-left: 5%;
    margin-bottom: 10%;
}
button{
    cursor: pointer;
}
#buttons {
    margin-left: 5%;
    margin-bottom: 15%;
}

#terms {
    color: rgb(52, 53, 54);
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    position: relative;
    left: -5px;
}
#terms:hover{
    color: rgb(140, 157, 163);
}

#shownErrorMessage{
    font-family: arial;
    color: rgb(189, 15, 15);
    text-align: center;
    position:relative;
    top: -18px;

}

.login_btn{
    height: 40px;
    width: 105px;
    border: 1px solid black;
    /*border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;*/

    background-color: white;
}

.login_btn:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.skapakonto_btn {

    border: 1px solid black;
    height: 40px;
    width: 105px;
    background-color: white;
 
}

.skapakonto_btn:hover {
    background-color: black;
    color: white;
    transition: 0.5s;
}

.terms {
    font-family: Arial, Helvetica, sans-serif;
}

.goBack{
    margin: 15px;
    color: rgb(52, 53, 54);
    background-color: transparent;
    border: transparent;
    text-decoration: underline;
    font-style: italic;
    cursor: pointer;

}



/*  LOGGA IN RUTA  */

#loginTitle{
    text-align: center;
    align-self: center;

    font-family: bigpixelShadow;
    font-size: 50px;
    margin-bottom: 10%;

}


form{
    display: flex;
    flex-direction: column;
}

.name {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 5%;
   /*border-radius: 15px;*/
}

.passw {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 10%;
    /*border-radius: 15px;*/
}

#login_btn_two, .register{
    height: 35px;
    background-color: black;
    color: white;
    border: 1px solid black;
}


/*  SKAPA ANVÄNDARE RUTA registrerings formulär  */

.email_mail, .newUser, .newpass, .repeatpass {
    height: 30px;
    border: 1px solid black;
    margin-bottom: 5%;
}

.loginTitle_reg{

    text-align: center;
    align-self: center;
    font-family: bigpixelShadow;
    font-size: 50px;
    margin-bottom: 10%;
    margin-top: 5%;
}
