<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="userpage.css">
    <link rel="stylesheet" href="../landingpage/landingpage.css">
    <link rel="stylesheet" href="../landingpage/footer.css">
    <link rel="stylesheet" href="../login/login.css">

    <title>My KITSCHen</title>
</head>

<body>
    
    <main id="wrapper" class="userPage"></main>

    <script src="../../logic/state.js"></script>
    <script src="../../logic/fetcher.js"></script>

    <script src="../login/login.js"></script>

    <script src="../landingpage/footer.js"></script>
    <script src="userpageContainer.js"></script>
    <script src="renderUserpage.js"></script>
    <script src="userpage.js"></script>
   
</body>
</html>