<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="userpage.css">
    <link rel="stylesheet" href="../landingpage/landingpage.css">
    <link rel="stylesheet" href="../landingpage/footer.css">

    <title>My KITSCHen</title>
</head>
<body>
    
    <main id="wrapper">
        <header>
        <div id="userControl">
            <img src="defaultPfp.jpg" alt="default profile picture">
            <button>Ta bort användare</button>
            <button>Logga ut</button>
        </div>
        <div id="userInfo">
            <h2>My KITSCHen</h2>
            <h3>`${Username} || ${email}`</h3>
            <h4>`${counter} saved recipes`</h4>
        </div>
    </header>
    </main>
    
    <script src="userpage.js"></script>
    <script src="userpageContainer.js"></script>
    <script src="../landingpage/footer.js"></script>

</body>
</html>